name: validate

on:
  workflow_dispatch:
env: 
  NewRepo: 'repo2'
  
  
  
jobs:
  validateRepo:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: store variable
        run: |
          $test=$(&".\powershll.ps1" -pet test)
          Write-Host "action"
          $test
          Write-Host "action complete"
