name: validate

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      gggg:
        required: true
        type: string
  
  
jobs:
  validateRepo:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: store variable
        run: |
          write-output ${{inputs.gggg}}
